<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}">
<body>
    <div layout:fragment="content">
        <section>
            <h2>내 정보</h2>
            <form method="post" th:action="@{/profile/update}">
                <label>이름</label>
                <input type="text" th:value="${user.name}" name="name">
                <br>
                <label>이메일</label>
                <input type="email" th:value="${user.email}" name="email">
                <br>
                <label>비밀번호 변경</label>
                <input type="password" name="password">
                <br>
                <button type="submit">수정</button>
            </form>
        </section>
    </div>
</body>
</html>
